$primarycolor: hsl(0, 100%, 68%);
$VeryDarkcolor: hsl(230, 29%, 20%);
$DarkGrayishcolor: hsl(230, 11%, 40%);
$Grayishcolor: hsl(231, 7%, 65%);
$LightGrayishcolor: hsl(207, 33%, 95%);
$mobile:"375px";
$tablet:"700px";